body{
  max-width: 1440px;
  margin: 0 auto;
  background-color: #0a0a0a;

  overflow-x: hidden;
}

.outfit {
  font-family: "Outfit", sans-serif;
}

.dm-sans{
  font-family: "DM Sans", sans-serif;
}

.beforeBg{
  width: 110%;
  transform: translate(-40%);
}

.afterBg{
  width: 200%;
  transform: translate(80%);
}

.header{
  position: fixed;
}